<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon_site/icon_perfil.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>View Foto</title>
</head>
<body class="body-v-foto">
    {% include "navbar.html" %}
    <div class="img-view-foto">
        <img src="{{ url_for('static', filename='fotos_post/{}'.format(imagem.imagem)) }}" alt="">
    </div>
</body>
</html>